@import "tailwindcss" ;

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
}

.bm-menu {
  background: #fff; 
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2); 
  color: #000;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
 
}

.bm-item {
  display: block;
  text-decoration: none;
  margin-bottom: 25px; 
  color: #333; 
  transition: color 0.2s;
  font-size: 1.5em; 
  font-weight: 500; 
}

.bm-item:hover {
  color: #ff9800; 
}


.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 20px; 
  top: 18px; 
}

.bm-cross-button {
  height: 30px; 
  width: 30px; 
  right: 15px !important; 
  top: 15px !important; 
  outline: none;
}

.bm-cross {
  background: #000;
}
.bm-burger-bars {
  background: #000; 
}

.bm-morph-shape {
  fill: #fff; 
}

#page-wrap { 
 margin-right: 10px;
}